![*INTERTECHNICA - SOLON EDUCATIONAL PROGRAMS - TECHNOLOGY LINE*](https://solon.intertechnica.com/assets/IntertechnicaSolonEducationalPrograms-TechnologyLine.png)

# Data Manipulation with Python - The Pandas Library - Homework

*Basic initialization of the workspace.*

In [1]:
!python -m pip install numpy
import numpy as np
print ("NumPy installed at version: {}".format(np.__version__))

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)
NumPy installed at version: 1.21.5

In [2]:
!python -m pip install pandas
import pandas as pd
print ("Pandas installed at version: {}".format(pd.__version__))

#adjust pandas DataFrame display for a wider target 
pd.set_option('display.expand_frame_repr', False)

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Pandas installed at version: 1.3.5

## 1. Loading and exploring data

We will use a dataset containing data about RON exchange rates in relation with several currencies EUR, USD and CHF. The data covers the years starting from 2010 to 2021.

We will load the data into a DataFrame object in order to perform further processing.

In [3]:
# load the data into a dataframe object
# no index column is expected
raw_data = pd.read_csv(
    "https://raw.githubusercontent.com/INTERTECHNICA-BUSINESS-SOLUTIONS-SRL/CourseDataManipulationWithPython/main/Common/data/RON_Exchange_Rates.csv",
    index_col = None
)

We need to convert the DATE column into a datetime format so it can be processed as date-time information.

In [4]:
# using Pandas in-built support for converting string to date-time
data = raw_data.copy()
data["DATE"] = pd.to_datetime(data["DATE"])

Let's explore records from the cleaned dataset.

In [5]:
# display records from the cleaned dataset
print(
    "Sample records from the cleaned dataset are: \n{}\n".format(
        data
    )
)

Sample records from the cleaned dataset are:
           DATE     EUR     USD     CHF
0    2010-01-04  4.2265  2.9401  2.8419
1    2010-01-05  4.2077  2.9186  2.8345
2    2010-01-06  4.1620  2.8987  2.8051
3    2010-01-07  4.1721  2.9089  2.8158
4    2010-01-08  4.1679  2.9143  2.8134
...         ...     ...     ...     ...
3025 2021-12-27  4.9492  4.3725  4.7604
3026 2021-12-28  4.9491  4.3683  4.7668
3027 2021-12-29  4.9490  4.3849  4.7722
3028 2021-12-30  4.9486  4.3735  4.7713
3029 2021-12-31  4.9481  4.3707  4.7884

[3030 rows x 4 columns]

Let's explore basic information regarding the data.

In [6]:
# exploring the number of records
print(
  "The number of records is {}.".format(data.shape[0])
)

The number of records is 3030.

In [7]:
# exploring the DATE column basic information
print(
  "Basic information about the DATE column is: \n{}.".format(
      data["DATE"].describe(datetime_is_numeric=True)
  )
)

Basic information about the DATE column is:
count                             3030
mean     2015-12-25 19:40:30.891089152
min                2010-01-04 00:00:00
25%                2012-12-19 06:00:00
50%                2015-12-21 12:00:00
75%                2018-12-27 18:00:00
max                2021-12-31 00:00:00
Name: DATE, dtype: object.

In [8]:
# exploring the EUR column basic information
print(
  "Basic information about the EUR column is: \n{}.".format(
      data["EUR"].describe()
  )
)

Basic information about the EUR column is:
count    3030.000000
mean        4.534709
std         0.216551
min         4.065300
25%         4.408525
50%         4.497950
75%         4.667625
max         4.949500
Name: EUR, dtype: float64.

In [9]:
# HOMEWORK: explore the USD information

In [10]:
# HOMEWORK: explore the CHF information

## 2. Expanding the dataset

We would like to expand the data in the dataset - adding the year, month and day as a separate piece of information.

In [11]:
# adding the years information
data["YEAR"] = data["DATE"].dt.year

In [12]:
# adding the months information
data["MONTH"] = data["DATE"].dt.month
data["MONTH_NAME"] = data["DATE"].dt.month_name()

In [13]:
# HOMEWORK: insert the days information as well

In [14]:
# display records from the cleaned dataset
print(
    "Sample records from the expanded dataset are: \n{}\n".format(
      data
    )
)

Sample records from the expanded dataset are:
           DATE     EUR     USD     CHF  YEAR  MONTH MONTH_NAME
0    2010-01-04  4.2265  2.9401  2.8419  2010      1    January
1    2010-01-05  4.2077  2.9186  2.8345  2010      1    January
2    2010-01-06  4.1620  2.8987  2.8051  2010      1    January
3    2010-01-07  4.1721  2.9089  2.8158  2010      1    January
4    2010-01-08  4.1679  2.9143  2.8134  2010      1    January
...         ...     ...     ...     ...   ...    ...        ...
3025 2021-12-27  4.9492  4.3725  4.7604  2021     12   December
3026 2021-12-28  4.9491  4.3683  4.7668  2021     12   December
3027 2021-12-29  4.9490  4.3849  4.7722  2021     12   December
3028 2021-12-30  4.9486  4.3735  4.7713  2021     12   December
3029 2021-12-31  4.9481  4.3707  4.7884  2021     12   December

[3030 rows x 7 columns]

## 3. Additional feature engineering

In order to improve further the relevance of the datase, we will enhance it further with additional features.

In [15]:
# calculate EUR change from the previous day
EUR_changes = data["EUR"].diff(periods = 1)
EUR_changes[0] = 0
EUR_pct_changes = data["EUR"].pct_change(periods = 1)
EUR_pct_changes[0] = 0

data["EUR_CHANGE_PREV_DAY"] = EUR_changes
data["EUR_PCT_CHANGE_PREV_DAY"] = EUR_pct_changes

In [16]:
# HOMEWORK: add the USD change from the previous day

In [17]:
# HOMEWORK: add the CHF change from the previous day

In [18]:
# display records from the cleaned dataset
print(
    "Sample records from the dataset with engineered features are: \n{}\n".format(
      data
  )
)

Sample records from the dataset with engineered features are:
           DATE     EUR     USD     CHF  YEAR  MONTH MONTH_NAME  EUR_CHANGE_PREV_DAY  EUR_PCT_CHANGE_PREV_DAY
0    2010-01-04  4.2265  2.9401  2.8419  2010      1    January               0.0000                 0.000000
1    2010-01-05  4.2077  2.9186  2.8345  2010      1    January              -0.0188                -0.004448
2    2010-01-06  4.1620  2.8987  2.8051  2010      1    January              -0.0457                -0.010861
3    2010-01-07  4.1721  2.9089  2.8158  2010      1    January               0.0101                 0.002427
4    2010-01-08  4.1679  2.9143  2.8134  2010      1    January              -0.0042                -0.001007
...         ...     ...     ...     ...   ...    ...        ...                  ...                      ...
3025 2021-12-27  4.9492  4.3725  4.7604  2021     12   December               0.0002                 0.000040
3026 2021-12-28  4.9491  4.3683  4.7668  2021     12   December              -0.0001                -0.000020
3027 2021-12-29  4.9490  4.3849  4.7722  2021     12   December              -0.0001                -0.000020
3028 2021-12-30  4.9486  4.3735  4.7713  2021     12   December              -0.0004                -0.000081
3029 2021-12-31  4.9481  4.3707  4.7884  2021     12   December              -0.0005                -0.000101

[3030 rows x 9 columns]

## 4. Data consolidation

We will consolidate the data by aggregating it at different levels.

In [19]:
# aggregate the data on YEAR and MONTH level
# for min, max and mean aggregations
currency_aggregate = data.groupby(["YEAR", "MONTH", "MONTH_NAME"]).agg({
    # we aggregate EUR information for min, mean and max values
    "EUR": ["min", "mean", "max"],
    # we aggregate EUR_CHANGE_PREV_DAY information for min, mean and max values    
    "EUR_CHANGE_PREV_DAY": ["min", "mean", "max"]
  })

# drop the first level from the aggregation columns
currency_aggregate = currency_aggregate.droplevel(0, axis = 1)

# set the related columns
currency_aggregate.columns = [
        "EUR_MIN", 
        "EUR_AVG", 
        "EUR_MAX", 
        "EUR_CHANGE_PREV_DAY_MIN",
        "EUR_CHANGE_PREV_DAY_AVG",
        "EUR_CHANGE_PREV_DAY_MAX",
      ]

In [20]:
# HOMEWORK: add the USD aggregated information

In [21]:
# HOMEWORK: add the CHF aggregated information

In [22]:
# display records from the aggregated dataset
print(
    "Sample records from the dataset with aggregated data are: \n{}\n".format(
      currency_aggregate
  )
)

Sample records from the dataset with aggregated data are:
                       EUR_MIN   EUR_AVG  EUR_MAX  EUR_CHANGE_PREV_DAY_MIN  EUR_CHANGE_PREV_DAY_AVG  EUR_CHANGE_PREV_DAY_MAX
YEAR MONTH MONTH_NAME
2010 1     January      4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
     2     February     4.0805  4.117930   4.1397                  -0.0415                -0.000735                   0.0250
     3     March        4.0653  4.087861   4.1092                  -0.0152                -0.000500                   0.0229
     4     April        4.0908  4.128533   4.1597                  -0.0137                 0.001514                   0.0220
     5     May          4.1275  4.174270   4.1998                  -0.0233                 0.002580                   0.0341
...                        ...       ...      ...                      ...                      ...                      ...
2021 8     August       4.9118  4.922927   4.9349                  -0.0049                 0.000682                   0.0112
     9     September    4.9345  4.946455   4.9495                  -0.0050                 0.000559                   0.0059
     10    October      4.9467  4.948110   4.9490                  -0.0018                 0.000086                   0.0016
     11    November     4.9476  4.948795   4.9491                  -0.0013                 0.000005                   0.0013
     12    December     4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003

[144 rows x 6 columns]

For reporting purposes we will consolidate both daily information for EUR(such as daily value) with aggregated information (such as average monthly value).

In [23]:
# extract EUR related information
EUR_data = data[[
                 "DATE", 
                 "YEAR", 
                 "MONTH", 
                 "MONTH_NAME", 
                 "EUR",
                 "EUR_CHANGE_PREV_DAY",
                 "EUR_PCT_CHANGE_PREV_DAY",
          ]]

In [24]:
# flatten currency aggregate
flattened_currency_aggregate = currency_aggregate.reset_index()
EUR_aggregated_data = flattened_currency_aggregate[[
                                                  "YEAR",
                                                  "MONTH",
                                                  "EUR_MIN",
                                                  "EUR_AVG",
                                                  "EUR_MAX",
                                                  "EUR_CHANGE_PREV_DAY_MIN",
                                                  "EUR_CHANGE_PREV_DAY_AVG",
                                                  "EUR_CHANGE_PREV_DAY_MAX"
                                              ]]

In [25]:
# merge data from different data frames
EUR_report_data = EUR_data.merge(
    EUR_aggregated_data, 
    how="inner", 
    left_on=["YEAR", "MONTH"], 
    right_on=["YEAR", "MONTH"]
  )

In [26]:
# display records from report dataset
print(
    "Sample records from the dataset with report data are: \n{}\n".format(
      EUR_report_data
  )
)

Sample records from the dataset with report data are:
           DATE  YEAR  MONTH MONTH_NAME     EUR  EUR_CHANGE_PREV_DAY  EUR_PCT_CHANGE_PREV_DAY  EUR_MIN   EUR_AVG  EUR_MAX  EUR_CHANGE_PREV_DAY_MIN  EUR_CHANGE_PREV_DAY_AVG  EUR_CHANGE_PREV_DAY_MAX
0    2010-01-04  2010      1    January  4.2265               0.0000                 0.000000   4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
1    2010-01-05  2010      1    January  4.2077              -0.0188                -0.004448   4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
2    2010-01-06  2010      1    January  4.1620              -0.0457                -0.010861   4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
3    2010-01-07  2010      1    January  4.1721               0.0101                 0.002427   4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
4    2010-01-08  2010      1    January  4.1679              -0.0042                -0.001007   4.1008  4.140895   4.2265                  -0.0457                -0.005225                   0.0244
...         ...   ...    ...        ...     ...                  ...                      ...      ...       ...      ...                      ...                      ...                      ...
3025 2021-12-27  2021     12   December  4.9492               0.0002                 0.000040   4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003
3026 2021-12-28  2021     12   December  4.9491              -0.0001                -0.000020   4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003
3027 2021-12-29  2021     12   December  4.9490              -0.0001                -0.000020   4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003
3028 2021-12-30  2021     12   December  4.9486              -0.0004                -0.000081   4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003
3029 2021-12-31  2021     12   December  4.9481              -0.0005                -0.000101   4.9481  4.948886   4.9492                  -0.0005                -0.000041                   0.0003

[3030 rows x 13 columns]

In [27]:
# HOMEWORK: create and print USD report data

In [28]:
# HOMEWORK: create and print CHF report data

In [29]:
# OPTIONAL HOMEWORK: add engineered features comparing daily values with monthly mean values

## 5. Extract data insights

We will simulate an investment model where financials are just stored in EUR currency. 
We would like to calculate the monthly compound rate for such a scenario and determine which scenario has the highest daily compound rate.

First of all, let's determine the EUR differences at 90, 180 and 360 days time intervals.

In [30]:
# we determine EUR differences at 90, 180 and 360 days 
# basically 3, 6 and 12 calendar months
diff_90 = data["EUR"].diff(periods = 90)
diff_180 = data["EUR"].diff(periods = 180)
diff_360 = data["EUR"].diff(periods = 360)

For processing, we will focus only on data from 2021.

In [31]:
# select te data strictly for 2021
data_2021 = data[data["YEAR"] == 2021]["EUR"]
diff_90_2021 = diff_90[data_2021.index]
diff_180_2021 = diff_180[data_2021.index]
diff_360_2021 = diff_360[data_2021.index]

For each of this period, we will calculate the associated the monthly compound interest rates associated with the differences in EUR values.

In [32]:
# calculate monthly compound interest rates for
# 3, 6 and 12 calendar months
compound_interest_rates_3_months = ((data_2021 /(data_2021 - diff_90_2021)) ** (1/3) - 1) 
compound_interest_rates_6_months = ((data_2021 /(data_2021 - diff_180_2021)) ** (1/6) - 1)
compound_interest_rates_12_months = ((data_2021 /(data_2021 - diff_360_2021)) ** (1/12) - 1)

In [33]:
# display interest rates information
print(
    "The average monthly compound interest rates are as follows: \n\
    90 days (3 months): \t {:.2f}%\n\
    180 days (6 months): \t {:.2f}%\n\
    360 days (12 months): \t {:.2f}%\n".format(
      np.average(compound_interest_rates_3_months) * 100,
      np.average(compound_interest_rates_6_months) * 100,
      np.average(compound_interest_rates_12_months) * 100,
    )
)

The average monthly compound interest rates are as follows:
    90 days (3 months): 	 0.20%
    180 days (6 months): 	 0.20%
    360 days (12 months): 	 0.22%

According to this data, purchasing and storing EUR currency with 360 days in advance will provide - on average - a compound monthly interest rate of 0.22% in 2021 (the best option in this scenario).

In [34]:
# HOMEWORK: determine compound interests and optimal choice for USD in the same scenario

In [35]:
# HOMEWORK: determine compound interests and optimal choice for CHF in the same scenario

In [36]:
# OPTIONAL HOMEWORK: determine the optimal choice for an opportunistic policy
# (i.e. calculating maximum instead of average compound interest rate) for
# each of the EUR, USD and CHF currencies